body{
    background-color: white;
    font-family: Poppins;
    color: #0b173d;
    margin: 0px;
    overflow: hidden;
}



.leavebutton{
    position: relative;
    border-radius: 6px;
    border-color: transparent;
    font-size: 15px;
    font-family: Poppins;
    margin-left: 50px;
}



.GameCode{
    color: white;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 15px;
    
}

#playeroverall{
    margin-top: 0px;
    margin-left: -10px;
    background-color: #0b173d;
    color: white;
    width: 300px;
    padding: 17px;
    height: calc(100vh - 94px);
}

.playertable{
    margin-left: 50px;
    text-align: center;
    height: 50px;
    text-align: right;
    padding: 0px;
    margin-top: 25px;
}

.header{
    background-color: #0b173d;
    height: 60px;
}

.header button{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    width: 200px;
    border-radius: 6px;
    border-color: transparent;
    font-size: 15px;
    font-family: Poppins;
}

.input{
    background-color: #0b173d;
    color: white;
    width: 500px;
    height: 150px;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    margin-top: calc(50vh - 135px);
    margin-left: calc(50vw - 250px);
}

.input input{
    border: none;
    border-radius: 6px;
    height: 20px;
    
}

.input h1{
    margin-top: -5px;
}

.input button{
    border:none;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
}

.options{
    margin-top: -93vh;
    margin-left: 350px;
}

.pleasewait{
    margin-top: -93vh;
    margin-left: 350px;
}

#packlist{
    font-size: 15px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 45px;
}

.packtitle{
    margin-left: 18px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#fullpacklist{
    margin-top: 30px;
    border: 2px solid #0b173d;
    width: 200px;
    border-radius: 6px;
    
}

.pleasewait{
    margin-top: -450px;
    margin-left: 600px;
}

#blackcard{
    position: absolute;
    color: white;
    height: 80%;
    width: 35%;
    margin-left: 50px;
    margin-top: 6vh;
    background-color: rgb(31, 30, 30);
    border-radius: 10px;
}

#blackcontent{
    padding: 20px;
    white-space: pre-wrap;
    word-break: keep-all;
    display: flex;
    padding-top: 100px;
    font-size: 25px;
}

#whiteboxesparent{
    overflow-y:auto;
    overflow: hidden;
    float: right;
    margin-top: -25px;
    margin-right: -10px;
    margin-left: 45vw;
    border-radius: 10px;
    min-height: calc(100vh - 90px);
    background-color: #0b173d;
    min-width: 56vw;
}

.singlebutton{
    float: left;
    margin-left: 4vw;
    margin-right: 8vw;
    background-color: white;
    margin-top: 8vh;
    width: 10vw;
    height: 20vh;
    border-radius: 6px;
    outline: none;
    height: 20vh;
    max-width: 1vw;
    background-color: white;
    border: none;
    border-radius: 10px;
}


.whitebutton{
    outline: none;
    height: 20vh;
    width: 10vw;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.selectoverall{
    float: left;
    margin-left: 4vw;
    margin-right: 8vw;
    background-color: white;
    margin-top: 8vh;
    width: 10vw;
    height: 20vh;
    border-radius: 6px;
    outline: none;
    height: 20vh;
    max-width: 1vw;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.select{
    outline: none;
    height: 20vh;
    width: 11vw;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.whitebutton:hover{
    color: rgb(153, 44, 44);
}

#confirmselection{
    float: right;
    margin-top: 13vh;
    margin-right: 5vw;
}

.confirmslectionbutton{
    height: 10vh;
    width: 20vw;
    border-radius: 10px;
    border:none;
    outline: none;
}

.confirmslectionbutton:hover{
    background-color: rgb(134, 40, 40);
    color: white;
}

.mainfunny{
    font-size: 15px;
    margin-top: calc(50% - 70px);
    padding: 5px;
}

#author{
    font-size: 15px;
    margin-top: 50px;
}

.czarselect{
    outline: none;
    height: 20vh;
    width: 10vw;
    background-color: white;
    border: none;
    border-radius: 10px;
}


.czarselect:hover{
    background-color: grey;
    color: white;
}