body{
    background-color: white;
    font-family: Poppins;
    color: #0b173d;
    margin: 0px;
}



.leavebutton{
    position: relative;
    border-radius: 6px;
    border-color: transparent;
    font-size: 15px;
    font-family: Poppins;
    margin-left: 50px;
}



.GameCode{
    color: white;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 15px;
    
}

#playeroverall{
    margin-top: 0px;
    margin-left: -10px;
    background-color: #0b173d;
    color: white;
    width: 300px;
    padding: 17px;
    height: calc(100vh - 94px);
}

.playertable{
    margin-left: 50px;
    text-align: center;
    height: 50px;
    text-align: right;
    padding: 0px;
    margin-top: 25px;
}

.header{
    position: relative;
    background-color: #0b173d;
    height: 60px;
}

.header button{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    width: 200px;
    border-radius: 6px;
    border-color: transparent;
    font-size: 15px;
    font-family: Poppins;
}

.input{
    background-color: #0b173d;
    color: white;
    width: 500px;
    height: 150px;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    margin-top: calc(50vh - 135px);
    margin-left: calc(50vw - 250px);
}

.input input{
    border: none;
    border-radius: 6px;
    height: 20px;
    
}

.input h1{
    margin-top: -5px;
}

.input button{
    border:none;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
}

.options{
    margin-top: -93vh;
    margin-left: 350px;
}

.pleasewait{
    margin-top: -93vh;
    margin-left: 350px;
}

#packlist{
    font-size: 15px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 45px;
}

.packtitle{
    margin-left: 18px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#fullpacklist{
    margin-top: 30px;
    border: 2px solid #0b173d;
    width: 200px;
    border-radius: 6px;
    
}

.pleasewait{
    margin-top: -450px;
    margin-left: 600px;
}

#blackcard{
    position: absolute;
    color: white;
    height: 700px;
    width: 500px;
    margin-left: 50px;
    margin-top: calc(50vh - 375px);
    background-color: rgb(31, 30, 30);
    border-radius: 10px;
}

#blackcontent{
    margin-left: 50px;
    padding-top: 50px;
    font-size: 25px;
}